/* Style the buttons that are used to open and close the accordion panel */
.accordion {
 background-color: #eee;
 color: #444;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 text-align: left;
 border: none;
 outline: none;
 transition: 0.4s;
}

 .accordionelement  {
 background-color: #ddd;
 color: #444;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 text-align: left;
 border: none;
 outline: none;
 transition: 0.4s;
 /*visibility: hidden;*/
}
/* Tooltip text */
 .accordionelement .tooltiptext {
  visibility: hidden;
  width: 300px;
  background: rgb(177,177,177);
  background: linear-gradient(356deg, rgba(177,177,177,1) 8%, rgba(255,255,255,1) 23%);
  color: #444;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;


  /* Position the tooltip text - see examples below! */
  position: absolute;
/*position:fixed;
bottom:40px;
right:40px; */
  margin-top: 25px;
  z-index: 1;
}

.accordionelement:hover .tooltiptext {
  visibility: visible;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
 background-color: #ccc;
}

.active, .accordionelement:hover {
 background-color: #bbb;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen and (max-width: 600px) {
  .accordionelement .tooltiptext {
    width: 200px;
  }
}
